// large background Colors: 
$bodyBackgroundColor: rgba(49, 46, 43, 1.0);
$asideAndSectionBackgroundColor: rgba(39, 37, 34, 1.0);

// specific background Colors
$searchBarBackgroundColor: rgba(61, 59, 57, 1.0);

// green
$greenButtonBackgroundColor: rgba(127, 166, 80, 1.0);
$greenButtonHoverBackgroundColor: rgba(149, 187, 74, 1.0);
$greenButtonBoxShadowColor: rgba(83, 113, 51, 1.0);

// grey
$greyButtonBackgroundColor: rgba(56, 54, 52, 1.0);
$greyButtonHoverBackgroundColor: rgba(74, 72, 70, 1.0);
$greyButtonBoxShadowColor: rgba(59, 57, 54, 1.0);


$hoverBackgroundColor: rgba(34, 33, 31, 1.0);
$hoverBackgroundColorNext: rgba(29, 28, 28, 1.0);

$searchBarOutlineColor: rgba(255, 255, 255, 0.15);



// chess Board Colors
$whiteChessField: rgba(235, 236, 208, 1.0);
$greenChessField: rgba(119, 149, 86, 1.0);