@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Font Sizes


$smallFontSize: 0.8rem;
$mediumFontSize: 1.4rem;

$sectionHeadlineFontSize: 2rem;
$sectionButtonFontSize: 1.5rem;
$sectionQuoteFontSize: 0.95rem;
$sectionQuoteNameFontSize: 1rem;



// main Font Colors
$mainWhiteFontColor: white;

// other Font Colors
$asideFontColor: rgba(165, 164, 163, 1.0);
$greyButtonFontColor: rgba(186, 186, 185, 1.0);
$greenButtonFontColor: white;

$sectionQuoteColor: rgba(158, 170, 166, 1.0);
$sectionQuoteNameColor: rgba(179, 179, 178, 1.0);

$footerFontColor: rgba(149, 149, 147, 1.0);
$footerFontHoverColor: rgba(211, 211, 212, 1.0);

