@use '../Variables/colors' as *;

.asideButton {
    height: 2.5rem;
    -webkit-border-radius: 0.35rem;
    border-radius: 0.35rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 7rem;
    cursor: pointer;
}

.sectionTopRightPartButton {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .1s;
}